<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.CartRepository">
    <insert id="addCart">
        INSERT INTO cart (info_no, id, wish_date, wish_status) 
        VALUES (#{info_no}, #{id}, #{wish_date}, #{wish_status})
    </insert>
    
    <insert id="addCartProperty">
        INSERT INTO cart_property (cart_id, property_id) 
        VALUES (#{cartId}, #{propertyId})
    </insert>
    
    <select id="getCartByUserId" resultType="com.example.demo.entity.Cart">
        SELECT * FROM cart WHERE id = #{id}
    </select>
</mapper>