<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.ImageRepository">

    <!-- 이미지 삽입 쿼리 추가 -->
    <insert id="save" parameterType="map">
        INSERT INTO Pp_img (info_no, si_insideurl, si_outsideurl, si_insidename, si_outsidename) 
        VALUES (#{info_no}, #{si_insideurl}, #{si_outsideurl}, #{si_insidename}, #{si_outsidename})
    </insert>

</mapper>