<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.PropertyRepository">

    <select id="getAllPropertyList" resultType="com.example.demo.Property">
        SELECT * FROM Pp_info
    </select>

    <insert id="insertProperty" parameterType="com.example.demo.Property">
        INSERT INTO Pp_info (info_name, info_add, info_size, info_allfl, info_fl, info_count, 
                             info_upload, info_update, info_delflag, info_option, 
                             info_type, info_sell, info_year, info_month, 
                             info_deposit, info_comp, info_move) 
        VALUES (#{info_name}, #{info_add}, #{info_size}, #{info_allfl}, #{info_fl}, 
                #{info_count}, #{info_upload}, #{info_update}, #{info_delflag}, 
                #{info_option}, #{info_type}, #{info_sell}, #{info_year}, 
                #{info_month}, #{info_deposit}, #{info_comp}, #{info_move})
    </insert>

</mapper>