body {
    margin: 0;
    padding: 0;
}

/* body *{
    border: 0.001px dashed #000;
} */

.헤더 {
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    font-weight: bold;
    height: 70px;
    letter-spacing: 5px;
}

.로고 {
    display: flex;
    align-items: center;
    font-size: 1.8em;
    cursor: default;
    margin-left: 5px;
    text-decoration: none;
    color: #000;
}

.로고 img {
    height: 50px;
    padding-right: 20px;
    cursor: pointer;
}

.메뉴 {
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
}

.메뉴 a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #505050;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
    border-right: 2px solid #FFB74D;
}

.메뉴 a:hover {
    color: #fff;
    background-color: #FFB74D;
    border-radius: 5px;
    padding: 5px 10px;
}

.메뉴 a:last-child {
    border-right: none;
}

.유저메뉴 {
    display: flex;
    font-size: 1.2em;
    position: absolute;
    right: 200px;
}

.유저메뉴 a {
    margin-left: 10px;
    text-decoration: none;
    color: #FF5722;
    border: 1px solid #FF5722;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.7em;
}

.유저메뉴 a:hover {
    background-color: #FF5722;
    color: white;
}

.맵박스{
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    overflow: hidden;
	z-index: 5;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	margin-bottom: 0;
}

footer {
    background-color: grey;
    color: white;
    text-align: left;
    padding: 20px 200px;
    bottom: 0;
    margin-top: 50px;
}

.맵{
    width: 50%;
    height: 600px;
}

.내위치{
    position: absolute;
    top: 70%;
    left: 40%;
    color: #fff;
    background-color: #00A5FF;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    cursor: pointer;
    z-index: 1;
    padding: 5px 10px;
}

.검색박스{
    width: 44%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 10px;
}

.입력창{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.텍스트란{
    font-size: 1.5em;
    width: 75%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2px 10px;
}

.검색버튼{
    font-size: 1.5em;
    color: #fff;
    background-color:#FFB74D;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    padding: 1px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0.1px solid #FFB74D;
}

.검색버튼:hover {
    background-color:#fff;
    color: #FFB74D;
}

.체크박스 div{
    margin-left: 10px;
    display: flex;
    margin-bottom: 5px;
}

.옵션이름{
    width: 120px;
    justify-content: right;
}

.옵션{
    border: 1px solid #000;
    margin-left: 10px;
    padding: 1px;
    padding-right: 5px;
    border-radius: 5px;
}

hr{
    border: none; /* 기본 테두리 제거 */
    height: 2px; /* 선의 두께 설정 */
    background-color: #FFB74D; /* 선의 색상 설정 */
}

#placesList {
	list-style: none;
}

#placesList p {
	margin: 3px 0;
}

#placesList li {
	border-bottom: 1px solid var(--border-color);
	margin-right: 10%;
}

#placesList li:hover {
	background-color: #F5D0A9;
	transform: scale(1.05);
}

#roadview{
    margin-left: 200px;
    margin-right: 200px;
	height: 500px;
	border: 2px solid #F5D0A9;
}


.로그인팝업 {
    display: none;
    /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.로그인팝업 div {
    background-color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 200px;
    position: fixed;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.로그인팝업 div a {
    position: absolute;
    border: 2px solid #FF5722;
    color: #FF5722;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    transform: translate(-50%);
    top: -20px;
    text-decoration: none;
    font-size: 1.2em;
}

.로그인팝업 div a:hover {
    background-color: #FF5722;
    color: white;
}

.close {
    position: absolute;
    right: 10px;
    color: #aaa;
    float: right;
    padding-right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    cursor: pointer;
}