/* 전체 페이지 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
.header {
    padding: 10px 20px;
    background-color: white;
    border-bottom: 2px solid #FFB74D;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
}

.logo-text {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
}

/* 검색 박스 스타일 */
#searchBox {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#searchBox input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    max-width: 300px;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchBox input[type="text"]:focus {
    border-color: #d95050;
}

#searchBox button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #d95050;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchBox button:hover {
    background-color: #b03b3b;
}
.container {
    display: flex;
    justify-content: space-between; /* 두 요소 사이에 여백을 설정 */
    align-items: flex-start; /* 상단에 맞추어 정렬 */
    width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    height: 700px; /* 높이는 map 요소의 높이와 맞추기 */
}
/* 지도 스타일 */
#map {
    width: 40vw;
    height: 700px;
    margin-left: 9.5%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

#locateMeBtn {
    position: absolute;
    bottom: 15%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: #00A5FF;
    color: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    z-index: 10;
}

/* 메뉴 스타일 */
#menu_wrap {
    top: 0;
    bottom: 0;
    width: 40%;
    height:100%;
    margin-right: 10%;
    z-index: 1;
    font-size: 12px;
    background: rgba(255, 255, 0, 0.0);
    border: 1px solid #000;
}

#menu_wrap hr {
    border-top: 2px solid #5F5F5F;
    margin: 3px 0;
}

#menu_wrap .option {
    text-align: center;
}

/* 장소 목록 스타일 */
#placesList {
    list-style: none;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    min-height: 65px;
    cursor: pointer;
}

#placesList .info {
    padding: 10px 0 10px 55px;
}

#placesList .gray {
    color: #8a8a8a;
}

#placesList .tel {
    color: #009900;
}

/* 마커 스타일 */
#placesList .markerbg {
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

/* 페이지네이션 스타일 */
#pagination {
    margin: 10px auto;
    text-align: center;
}

#pagination a {
    margin-right: 10px;
}

#pagination .on {
    font-weight: bold;
    color: #777;
    cursor: default;
}

/* 푸터 스타일 */
footer {
    background-color: grey;
    color: white;
    text-align: left;
    padding: 20px 15%;
    font-size: 1em;
    margin-top: 100px;
}
