<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VACANCY</title>
<link rel="stylesheet" href="../css/property.css">
<link rel="icon" href="../images/logo.ico" type="image/x-icon">
</head>
<body>
   <header class="헤더">
      <a class="로고" href="/"><img src="images/logo.png">VACANCY</a>

      <div class="메뉴">
         <a href="map">공실정보</a>
         <th:block th:if="${loggedIn}">
            <a href="property">관리물건</a>
         </th:block>
         <th:block th:unless="${loggedIn}">
            <a onclick="showLoginPopup()">관리물건</a>
         </th:block>
         <a href="cart">담은매물</a>
      </div>

      <div class="유저메뉴">
         <a href="/boards/free">고객센터</a>
         <th:block th:if="${loggedIn}">
            <a href="users/myPage/boards">마이페이지</a>
            <a href="users/logout">로그아웃</a>
         </th:block>
         <th:block th:unless="${loggedIn}">
            <a href="users/login">로그인</a>
            <a href="users/join">회원가입</a>
         </th:block>
      </div>
   </header>

        <footer>
            <div>© 2024 Vacancy. All rights reserved.</div>
        </footer>
    <script>
    </script>
</body>
</html>