<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VACANCY</title>
<link rel="stylesheet" href="../css/adpayment.css">
<link rel="stylesheet" href="../css/헤더.css">
<link rel="icon" href="../images/logo.ico" type="image/x-icon">
</head>
<body>
	<div th:replace="~{헤더.html}"></div>

	<footer>
		<div>© 2024 Vacancy. All rights reserved.</div>
	</footer>

	<script src="../script/adpayment.js"></script>

</body>
</html>