<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VACANCY</title>
<link rel="stylesheet" href="../css/main.css">
<link rel="icon" href="img/logo.ico" type="image/x-icon">
</head>

<body>
	<header class="헤더">
		<a class="로고" href="/"><img src="images/logo.png">VACANCY</a>

		<div class="메뉴">
			<th:block th:if="${loggedIn}">
				<a href="map">공실정보</a>
			</th:block>
			<th:block th:unless="${loggedIn}">
				<a onclick="showLoginPopup()">공실정보</a>
			</th:block>
			
			<th:block th:if="${loggedIn}">
				<a href="property">관리물건</a>
			</th:block>
			<th:block th:unless="${loggedIn}">
				<a onclick="showLoginPopup()">관리물건</a>
			</th:block>
		</div>

		<div class="유저메뉴">
			<a href="/boards/free">고객센터</a>
			<th:block th:if="${loggedIn}">
				<a href="users/myPage/boards">마이페이지</a>
				<a href="users/logout">로그아웃</a>
			</th:block>
			<th:block th:unless="${loggedIn}">
				<a href="users/login">로그인</a>
				<a href="users/join">회원가입</a>
			</th:block>
		</div>
	</header>

	<div class="배너">
		<div>
			<h2>공실정보</h2>
			<p id="공실정보">0건</p>
		</div>
		<div>
			<h2>임대정보</h2>
			<p id="임대정보">0건</p>
		</div>
		<div>
			<h2>신규공실정보</h2>
			<p id="신규공실정보">0건</p>
		</div>
	</div>

	<div class="검색">
		<input class="검색창" type="text" placeholder="건물명, 도로명">
		<button type="button">검색</button>
	</div>

	<div class="공실정보">
		<h3>실시간 공실 정보</h3>
		<div class="건물사진">
			<div>
				<img src="images/uploads/1.png">
				<p>전세 8,000</p>
				<p>동구 자양동</p>
			</div>
			<div>
				<img src="images/uploads/2.jpeg">
				<p>월세 300/35</p>
				<p>동구 자양동</p>
			</div>
			<div>
				<img src="images/uploads/3.jpg">
				<p>월세 100/21</p>
				<p>동구 자양동</p>
			</div>
			<div>
				<img src="images/uploads/1.png">
				<p>월세 150/21</p>
				<p>동구 자양동</p>
			</div>
		</div>
	</div>

	<footer>
		<div>© 2024 Vacancy. All rights reserved.</div>
	</footer>

	<div id="로그인팝업" class="로그인팝업">
		<div>
			<span class="close" onclick="closeLoginPopup()">&times;</span>
			<p>로그인 후 접근하실 수 있습니다.</p>
			<a href="users/login">로그인 페이지로 이동</a>
		</div>
	</div>

	<script src="../script/main.js"></script>

</body>

</html>
