<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VACANCY</title>
</head>
<body>
    <h1>공실정보</h1>
	
    <div id="map" style="width:100%; height:350px;"></div>
	<div id="clickLatlng"></div> 
	
	<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=78b33a405481aa556df21c1eda9ce3ee"></script>
	<script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(36.351199, 127.454488), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도 생성
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 마커가 표시될 위치
        var markerPosition = new kakao.maps.LatLng(36.351199, 127.454488);

        // 마커 생성
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });
		
		// 일반지도 / 스카이뷰지도 타입 전환
		var mapTypeControl = new kakao.maps.MapTypeControl();
		
		// 컨트롤 추가		
		map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

		// 지도 확대 축소를 제어할 수 있는 줌 컨트롤 생성
		var zoomControl = new kakao.maps.ZoomControl();
		map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
		
		// 마커 표시
        marker.setMap(map);
		
		// 클릭 이벤트 등록
		// 지도를 클릭하면 마지막 파라미터로 넘어온 함수 호출
		kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
		    
	    // 클릭한 위도, 경도 정보를 가져옵니다 
	    var latlng = mouseEvent.latLng; 
	    
	    // 마커 위치를 클릭한 위치로 옮깁니다
	    marker.setPosition(latlng);
		
		var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
		   message += '경도는 ' + latlng.getLng() + ' 입니다';	   
	    
	    var resultDiv = document.getElementById('clickLatlng'); 
	    resultDiv.innerHTML = message;
		});
		
</script>
</body>
</html>
