<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VACANCY</title>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=78b33a405481aa556df21c1eda9ce3ee&libraries=services"></script>
	<style>
	#map {width:750px; height:350px;}	
	#searchBox { margin-bottom: 10px;}
	.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
	.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
	.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
	.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
	.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
	</style>
</head>

<body>
    <h1>공실정보</h1>
    <div id="searchBox">
        <input type="text" id="address" placeholder="도로명 주소를 입력하세요">
        <button id="searchBtn">검색</button>
    </div>
    <div id="map"></div>
    <div id="clickLatlng"></div>

    <script>
        var map, marker, customOverlay;     

        kakao.maps.load(function() {
            function initializeMap(lat, lng) {
                var locPosition = new kakao.maps.LatLng(lat, lng);

                var mapContainer = document.getElementById('map');
                var mapOptions = {
                    center: locPosition,
                    level: 3,
                    mapTypeId: kakao.maps.MapTypeId.ROADMAP
                };
                map = new kakao.maps.Map(mapContainer, mapOptions);

                var mapTypeControl = new kakao.maps.MapTypeControl();
                map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
                var zoomControl = new kakao.maps.ZoomControl();
                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

                var markerImageUrl = 'https://t1.daumcdn.net/localimg/localimages/07/2012/img/marker_p.png';
                var markerImageSize = new kakao.maps.Size(40, 42);
                var markerImageOptions = { offset: new kakao.maps.Point(20, 42) };
                var markerImage = new kakao.maps.MarkerImage(markerImageUrl, markerImageSize, markerImageOptions);

                marker = new kakao.maps.Marker({
                    position: locPosition,
                    draggable: true,
                    image: markerImage,
                    map: map
                });
                
                kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                    var latlng = mouseEvent.latLng;
                    marker.setPosition(latlng);

                    if (customOverlay) {
                        customOverlay.setMap(null);
                    }

                    var content = `
                        <div class="customoverlay">
                            <a href="https://map.kakao.com/link/map/${latlng.getLat()},${latlng.getLng()}" target="_blank">
                                <span class="title">위도: ${latlng.getLat().toFixed(6)}, 경도: ${latlng.getLng().toFixed(6)}</span>
                            </a>
                        </div>
                    `;
                    customOverlay = new kakao.maps.CustomOverlay({
                        position: latlng,
                        content: content,
                        yAnchor: 1
                    });
                    customOverlay.setMap(map);

                    var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, 경도는 ' + latlng.getLng() + ' 입니다';
                    var resultDiv = document.getElementById('clickLatlng');
                    resultDiv.innerHTML = message;
                });
            }

            function searchAddress() {
                var address = document.getElementById('address').value;
                if (!address) {
                    alert('도로명 주소를 입력해 주세요.');
                    return;
                }

                var geocoder = new kakao.maps.services.Geocoder();
                geocoder.addressSearch(address, function(results, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        var result = results[0];
                        var lat = result.y;
                        var lng = result.x;
                        
                        console.log(lat, lng);

                        if (!map) {
                            initializeMap(lat, lng);
                        } else {
                            map.setCenter(new kakao.maps.LatLng(lat, lng));
                            marker.setPosition(new kakao.maps.LatLng(lat, lng));
                            if (customOverlay) {
                                customOverlay.setMap(null);
                            }
                            
                         

                            var content = `
                                <div class="customoverlay">
                                    <a href="https://map.kakao.com/link/map/${lat},${lng}" target="_blank">
                                        <span class="title">위도: ${lat.toFixed(6)}, 경도: ${lng.toFixed(6)}</span>
                                    </a>
                                </div>
                            `;
                            customOverlay = new kakao.maps.CustomOverlay({
                                position: new kakao.maps.LatLng(lat, lng),
                                content: content,
                                yAnchor: 1
                            });
                            customOverlay.setMap(map);
                        }

                        var message = '검색한 위치의 위도는 ' + lat + ' 이고, 경도는 ' + lng + ' 입니다';
                        var resultDiv = document.getElementById('clickLatlng');
                        resultDiv.innerHTML = message;
                    } else {
                        alert('도로명 주소를 찾을 수 없습니다.');
                    }
                });
            }

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var lat = position.coords.latitude;
                        var lng = position.coords.longitude;
                        initializeMap(lat, lng);
                    }, function(error) {
                        var errorMsg = '위치 정보를 가져오는 데 실패했습니다.';
                        switch (error.code) {
                            case error.PERMISSION_DENIED:
                                errorMsg = '사용자가 위치 정보 요청을 거부했습니다.';
                                break;
                            case error.POSITION_UNAVAILABLE:
                                errorMsg = '위치 정보를 사용할 수 없습니다.';
                                break;
                            case error.TIMEOUT:
                                errorMsg = '위치 정보 요청이 시간 초과되었습니다.';
                                break;
                            case error.UNKNOWN_ERROR:
                                errorMsg = '알 수 없는 오류가 발생했습니다.';
                                break;
                        }
                        alert(errorMsg);
                    });
                } else {
                    alert('현재 위치를 지원하지 않는 브라우저입니다.');
                }
            }

            getLocation();
            document.getElementById('searchBtn').addEventListener('click', function() {
                searchAddress();
            });
        });
		
</script>
</body>
</html>
