<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VACANCY</title>
<link rel="stylesheet" href="../css/property.css">
<link rel="icon" href="../images/logo.ico" type="image/x-icon">
</head>
<body>
	<header class="헤더">
		<a class="로고" href="/">
			<img src="images/logo.png">VACANCY
		</a>

		<div class="메뉴">
			<a class="호버" href="map">공실정보</a>
			<a>|</a>
			<a class="호버" href="property">관리물건</a>
			<a>|</a>
			<a class="호버" href="cart">담은매물</a>
		</div>

		<div class="유저메뉴">
			<a href="/boards/free">고객센터</a>
			<a href="users/myPage/boards">마이페이지</a>
			<a href="users/logout">로그아웃</a>
		</div>
	</header>

	<div class="등록하기버튼">
		<a href="../property/propregister">물건 등록하기</a>
		<a href="#">매물 메인페이지 광고</a>
	</div>

	<div class="건물상자">
		<div class="건물목록" th:each="property : ${propertyList}">
			<div class="이미지">
				<ul>
					<li th:each="image : ${property.images}"><img th:src="@{${image.si_insideurl}}" alt="Property Image" /></li>
				</ul>
			</div>
			<div class="건물정보">
				<p class="건물이름" th:text="${property.info_name}"></p>
				<div class="가격상자">
					<a th:text="${property.info_type}"></a>
					<a class="가격" th:text="${property.info_month}"></a>
					<a class="가격" th:text="${property.info_year}"></a>
					<a class="가격" th:text="${property.info_sell}"></a>
				</div>
				<a th:text="${property.info_add}"></a>
				<a class="승인대기" th:text="${property.status}"></a>
				<div class="buttons">
					<a href="#" class="button detail-button" th:data-info-no="${property.info_no}">상세보기</a>
					<form th:action="@{/property/editProperty}" method="get" style="display: inline;">
						<input type="hidden" th:name="info_no" th:value="${property.info_no}" />
						<button type="submit" class="button delete-button">수정</button>
					</form>
					<form th:action="@{/property/deleteProperty}" method="post" style="display: inline;">
						<input type="hidden" th:name="info_no" th:value="${property.info_no}" />
						<button type="submit" class="button delete-button">삭제</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="popup" class="popup" style="display: none;">
		<div class="popup-content">
			<span class="close-button">&times;</span>
			<div>
				<h2 id="property-name">Property Name</h2>
				<div id="property-image-container" style="display: flex; flex-direction: column;"></div>
				<!-- 이미지 컨테이너 추가 -->
				<p>
					<span class="highlight"> 유형 </span>
					<span id="property-type"></span>
				</p>
				<p>
					<span class="highlight"> 가격 </span>
					<span id="property-month"></span>
					<span id="property-year"></span>
					<span id="property-sell"></span>
					만원
				</p>
				<p>
					<span class="highlight"> 주소 </span>
					<span id="property-add"></span>
				</p>
				<p>
					<span class="highlight"> 상태 </span>
					<span id="property-status"></span>
				</p>
				<p>
					<span class="highlight"> 건물해당층수 </span>
					<span id="property-fl"></span>
					층
				</p>
				<p>
					<span class="highlight"> 건물전체층수 </span>
					<span id="property-allfl"></span>
					층
				</p>
				<p>
					<span class="highlight"> 방호실 </span>
					<span id="property-roomnum"></span>
					호
				</p>
				<p>
					<span class="highlight"> 권리금 </span>
					<span id="property_optionmoney"></span>
					만원
				</p>
				<p>
					<span class="highlight"> 보증금 </span>
					<span id="property-deposit"></span>
					만원
				</p>
				<p>
					<span class="highlight"> 관리비 </span>
					<span id="property-optioncost"></span>
					만원
				</p>
				<p>
					<span class="highlight"> 건물면적 </span>
					<span id="property-size"></span>
					m²
				</p>
				<p>
					<span class="highlight"> 방개수 </span>
					<span id="property-count"></span>
					개
				</p>
				<p>
					<span class="highlight"> 준공일 </span>
					<span id="property-comp"></span>
				</p>
				<p>
					<span class="highlight"> 입주가능일 </span>
					<span id="property-move"></span>
				</p>
				<p>
					<span class="highlight"> 상세옵션 </span>
					<span id="property-optionop"></span>
				</p>
				<p>
					<span class="highlight"> 기타옵션 </span>
					<span id="property-optionetc"></span>
				</p>
			</div>
		</div>
	</div>
	<div class="pagination">
		<a th:href="@{/property(page=${currentPage - 1}, size=${size})}" th:class="${currentPage == 0} ? 'disabled' : ''">이전</a>

		<!-- 페이지 번호 링크 -->
		<span th:each="i : ${#numbers.sequence(1, totalPages)}">
			<a th:href="@{/property(page=${i - 1}, size=${size})}" th:class="${i - 1 == currentPage} ? 'active' : ''" th:text="${i}"></a>
		</span>
		<a th:href="@{/property(page=${currentPage + 1}, size=${size})}" th:class="${currentPage + 1 >= totalPages || totalPages == 1} ? 'disabled' : ''">다음</a>
	</div>

	<footer>
		<div>© 2024 Vacancy. All rights reserved.</div>
	</footer>


	<script src="../script/property.js"></script>
</body>
</html>