<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>관리물건(test)</title>
<link rel="stylesheet" href="../css/property.css">
<link rel="icon" href="../images/logo.ico" type="image/x-icon">
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header">
				<div class="logo">
					<a href="/"> <img src="/images/logo.png" alt="Vacancy Logo"
						class="logo" id="logo"></a> <span>관리물건</span>
				</div>
			</div>
		</header>
		<div class="button-container">
			<a href="../property/propregister" class="register-button">물건
				등록하기</a>
		</div>

		<div class="container">
			<div th:each="property : ${propertyList}" class="item">
                <div class="details">
                    <div class="image-container">
                        <ul>
                            <li th:each="image : ${property.images}">
                                <img th:src="@{${image.si_insideurl}}" alt="Property Image" />
                            </li>
                        </ul>
                    </div>
                </div>
					<div class="info-container">
						<!-- 건물명 출력 -->
						<p th:text="${property.info_name}" />
						<!-- 매매유형 출력 -->
						<span th:text="${property.info_type}"></span>
						<!-- 월세, 전세, 매매 값 출력 -->
						<div class="price">
							<span th:text="${property.info_month}"></span> <span
								th:text="${property.info_year}"></span> <span
								th:text="${property.info_sell}"></span>
						</div>
						<!-- 주소 값 출력 -->
						<span th:text="${property.info_add}"></span>

						<div class="buttons">
							<a href="#" class="button">상세보기</a> <a href="#"
								class="button secondary">수정</a>
							<form th:action="@{/property/deleteProperty}" method="post"
								style="display: inline;">
								<input type="hidden" th:name="info_no"
									th:value="${property.info_no}" />
								<button type="submit" class="button delete-button">삭제</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div>© 2024 Vacancy. All rights reserved.</div>
		</footer>
	<form id="moveForm" method="post" style="display: none;"></form>
</body>
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.image-container img').forEach((img) => {
        img.onload = () => {
            img.classList.add('loaded');
        };
        img.src = img.src; // src를 재설정하여 로드하게 만듭니다.
    });
});
</script>
</html>